*~
__pycache__/

projects/task_car_warning/task_car_warning
projects/task_text_header/task_text_header
projects/task_text_header/jsons_resize
projects/task_text_header/tasks

projects/task_keyword_extraction/task_keyword_extraction
projects/task_tire/spec/task_tire/spec

*doctorcha-ai*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# Backend
backend/env3/
backend/__pycache__

# IDEA
.idea
*.iml

# VSCODE
.vscode/

# Window
Thumbs.db
Desktop.ini

# MAC
.DS_Store

# Env
.credential
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/
.coverage

# Examples of local env
src/examples

# XML configs
build/static/media/config.*.xml

#project files
label_studio.egg-info/
my_project/
label-studio-projects
build/
dist/
venv/
